@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);

:root {
  --mainColor : #D10744;
  --subColor :#000;

}

*{
  text-decoration: none;
}
#header {
  width: 1920px;
}
.logo {
  display: block;
  text-indent: -9999px;
  width: 225px;
  height: 90px;
  background: url(../images/nars-logo-white.png) no-repeat;
  border: 1px solid;
}