/* 팝업 쿠키 */
.popup {
    width: 500px;
    height: 610px;
    padding: 30px 40px;
    position: fixed;
    left: 100px;
    top: 170px;
    background: var(--white);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    z-index: 100;
    border: 4px solid var(--subcol);
}
.pophd{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}
.popup img {
    width: 35%;
}
.popct {
    padding: 15px 0;
}
.popup hr {
    border: 1px solid #000;
}
.popup h2,
.popup label,
.popup button,
.popup p,
.popup a {
    color: var(--subcol);
}
.popup h2 {
    font-size: var(--subtit);
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 15px;
}
.popup p {
    padding: 10px 0;
    font-weight: 400;
}
.popup .link {
    display: flex;
    gap : 20px;
}
.popup .link a {
    color: var(--maincol);
    position: relative;
}
.popup .link .git:after {
    content: '';
    position: absolute;
    right: -30px;
    top: -5px;
    background: url(/images/git_img.jpeg) no-repeat;
    width: 30px;
    height: 30px;
}
.popup .cookie {
    padding-top: 80px;
}
.popup button {
    background: #000;
    color: #fff;
    border-radius: 3px;
    margin-left: 270px;
    margin-top: 15px;
}
.popup.hide {
    display: none;
}
.cookie {
 display: flex;
 align-items: center;
 gap: 15px;
}
.cookie label {
    font-size: 18px;
    font-weight: normal;
}
.cookie input {
    width: 17px;
    height: 17px;
}

/* 메인슬라이드 */
.sc_btn {
    color: var(--white);
}
.main_slider .slide-wrapper {
    /* width: 100%; */
    overflow: hidden;
    position: relative;
    height: 760px;
    overflow: hidden;
}
.main_slider .slide-container {
    position: relative;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    top:0;
    transition:top 0.5s;
}
.main_slider .slide-container>li {
    height: 760px;
    width: 100%;
    text-align: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    
}
.main_slider .contents {
    padding-left: 350px;
}
.main_slider .contents > span {
    display: block;
    font-size: var(--subtit);
    line-height: var(--subtit);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
}

.slide1 {
    background-image: url(../images/main_slide01.jpg);
}
.slide2 {
    background-image: url(../images/main_slide02.jpg);
}
.slide3 {
    background-image: url(../images/main_slide03.jpg);
}


.pager {
    position: absolute;
    right: 136px;
    top: 50%;
    transform: translateY(-50%);
}
.main_slider .controls {
    display: block;
    width: 15px;
    height: 15px;
    background: var(--white);
    border-radius: 50%;
    margin-bottom: 15px;
}
.main_slider .controls.active {
    background: var(--maincol);
}
/* ----------------------------------------------------------------------- */


/* 메인 tit */
.main_banner {
    padding: 81px;
}
.main_banner p {
    color: var(--subcol);
    text-align: center;
    text-transform: uppercase;
}
.main_banner .main_tit {
    font-size: var(--strongtit);
    line-height: var(--strongtit);
    font-weight: 200;
}
.main_banner .sub_tit {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 10px;
}
/* ----------------------------------------------------------------------- */


/* 메인 promo */
.main_promo {
    display: flex;
    justify-content: space-between;
}
.main_promo .contents_area {
    width: 960px;
    background: var(--subcol);
}
.main_promo img {
    width: 960px;
}
.main_promo .secondary_btn {
    text-transform: capitalize;
}
/* ----------------------------------------------------------------------- */


/* 메인 newpd / sns 슬라이드 */
.cm_pd {
    position: relative;
}
.cm_pd .slide-wrapper {
    margin: 0 0 0 500px;
    overflow: hidden;
}
.cm_pd .slide-container {
    position: relative;
    top: -3px;
	width:1500px;
	margin: 0 auto;
    display: flex;
	gap: 30px;
}
.cm_pd .slide-container.animated{
    transition:left 0.5s;
}
.cm_pd .slide-container>li {
	width: 360px;
    background: #fff;
}


.cm_pd .slide-container>li>a {
    display: block;
    transition: all 0.5s;
    position: relative;
    top: 0;
}

.cm_pd .sec_tit {
    display: inline-block;
}
.cm_pd .pd_txt {
    padding-top: 30px
}
.cm_pd .pd_txt span {
    font-weight: 500;
    font-family: 'pretendard', sans-serif;
}
.cm_pd .pd_txt a {
    font-weight: 500;
    line-height: 30px;
    display: inline-block;
    color: var(--subcol);
    padding-bottom: 50px;
}
.cm_pd .pd_txt .sale {
    font-size: 28px;
    line-height: 28px;
    color: var(--maincol);
    font-weight: 700;
    margin-right: 50px;
}
.cm_pd .pd_txt .sale_pr {
    text-decoration: line-through;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: #aaa;
    margin-left: 28px;
}
.cm_pd img {
    width: 100%;
}

.cm_pd .controls {
    position: absolute;
    left: 187px;
    bottom: 81px;
}
.cm_pd .controls a {
    display: inline-block;
    color: var(--subcol);
    
}
 .controls .next {
    margin-left: 70px;
 }

.main_newpd .slide-container>li>a:hover {
    top: -15px;
}

/* ----------------------------------------------------------------------- */



/* 메인 bestpd */
.main_bestpd {
    display: flex;
    justify-content: space-between
}
.ct_area {
    width: 960px;
}
.ct_area img {
    width: 100%;
}
.main_bestpd{
    background: var(--subcol);
}
/* ----------------------------------------------------------------------- */


/* 메인 sns슬라이드 hover, animation */
.main_sns .slide-container>li>a {
    position: relative;
    top: 10px;
    transition: all 0.5s;
}
.main_sns .slide-container>li>a:hover {
    top: -1px;
}
/* .main_sns .slide-container>li>a:hover:after {
    opacity: 1;
    visibility: visible;
}
.main_sns .slide-container>li>a:hover:before {
    opacity: 1;
    visibility: visible;
}
.main_sns .slide-container>li>a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 360px;
    height: 644px;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.main_sns .slide-container>li>a:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 50px;
    background: url(/images/play-solid.svg) no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 1;
} */



/* ----------------------------------------------------------------------- */

/* 메인 popular */
.main_pop {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
}
.pop_area {
    width: 25%;
    background: var(--subcol);
}
.main_pop img {
    width: 100%;
}
.pop_area a {
    display: block;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 500;
    padding: 37px 140px;
    transition: color 0.5s;
}
.pop_area a:hover {
    color: var(--maincol);
}